* {
     box-sizing: border-box;
     font-size: 18px;
}

body {
     margin: 0;
     padding: 0;
}

/* General Fonts */
h1, h2, h3, h5, .contact {
     font-family: 'Fraunces', serif;
}
h1, .about h2 {
     font-weight: 900;
}

h1 {
     text-transform: uppercase;
     letter-spacing: 0.5rem;
     font-size: min(10vw, 4.2rem);
     color: white;
     padding: 2.25rem 0 1.8rem;
}

li, p, h6 {
     font-family: 'Barlow', sans-serif;
     line-height: 1.5;
}

li {
     list-style: none;
     padding: 1rem 0;
     color: hsl(232, 10%, 55%);
}

.about h2 {
     font-size: 2rem;
}

h5 {
     text-transform: uppercase;
}

h6 {
     font-size: 0.75rem;
}
/* End of General Fonts */


/* Header Styling */
header {
     background-image: url("../images/mobile/image-header.jpg");
     background-size: 100vw;
     height: 140vw;
     background-repeat: no-repeat;
     text-align: center;
}

.navbar {
     display: flex;
     justify-content: space-between;
     padding: 1.25rem 1.25rem;

}

.navbar ul {
     padding: 0; margin: 0;
     position: fixed;
     z-index: 100;
     top: 10%;
     right: 50%;
     transform: translateX(50%);
     display: none;
     background-color: white;
     width: 90vw;
     flex-direction: column;
}

.navbar ul::after {
     content: "";
     width: 0;
     height: 0;
     border-style: solid;
     border-width: 0 0 33px 33px;
     position: absolute;
     top: -8%; right: 0;
     border-color: transparent transparent white transparent;
}

.contact {
     color: black;
     text-transform: uppercase;
     background-color: hsl(51, 100%, 49%);
     display: inline-block;
     border-radius: 3rem;
     margin: 1rem auto 2.5rem;
     width: 9rem;
}

.first-li {
     margin-top: 1rem;
}

#check {
     display: none;
}

#check:checked ~ nav ul {
     display: flex;

}

/* Header for Desktop */
@media(min-width: 871px) {
     header {
          background-image: url("../images/desktop/image-header.jpg");
     }

     .arrow {
          position: absolute;
          left: 50%;
          top: 35%;
          transform: translateX(-50%);
     }

     .logo {
          margin: 1.1rem 0.7rem;
     }
     /* Navigation Bar */

     .navbar ul {
          background-color: transparent;
          display: flex;
          flex-direction: row;
          top: 0;
          transform: translateX(0);
          justify-content: flex-end;
          right: 0;
     }
     .navbar ul li:not(.contact) {
          padding: 2.15rem 1.7rem;
          margin: 0;
          color: white;
          cursor: pointer;
          transition: 0.2s ease;
     }
     .navbar ul li:not(.contact):hover {
          color: black;
     }
     .navbar ul::after {
          display: none;
     }
     .contact {
          margin: 1.25rem;
          padding: 0.9rem 0;
          width: 9rem;
          cursor: pointer;
          background-color: hsl(0, 0%, 100%);
          transition: 0.2s ease;
     }
     .contact:hover {
          color: white;
          background-color: hsl(0, 0%, 100%, 0.25);
     }
     label {
          display: none;
     }
}
