* {
     box-sizing: border-box;
     font-size: 18px;
}

body {
     margin: 0;
     padding: 0;
}

/* General Fonts */
h1, h2, h3, h5, .contact {
     font-family: 'Fraunces', serif;
}
h1, .about h2 {
     font-weight: 900;
}

h1 {
     text-transform: uppercase;
     letter-spacing: 0.5rem;
     font-size: min(10vw, 4.2rem);
     color: white;
     padding: 2.25rem 0 1.8rem;
}

li, p, h6 {
     font-family: 'Barlow', sans-serif;
     line-height: 1.5;
}

li {
     list-style: none;
     padding: 1rem 0;
     color: hsl(232, 10%, 55%);
}

.about h2 {
     font-size: 2rem;
}

h5 {
     text-transform: uppercase;
     color: hsl(212, 27%, 19%);
     position: relative;
     display: inline-block;
     cursor: pointer;
}
h5::before {
     content: "";
     width: 105%;
     height: 40%;
     position: absolute;
     bottom: 0;
     left: -2.5%;
     z-index: -1;
     border-radius: 5rem;
     transition: 0.2s ease;
}
.transform h5::before {
     background-color: hsl(51, 100%, 49%, 0.3);
}

.stand-out h5::before {
     background-color: hsl(7, 99%, 70%, 0.3);
}

h6 {
     font-size: 0.75rem;
}
/* End of General Fonts */


/* Header Styling */
header {
     background-image: url("../images/mobile/image-header.jpg");
     background-size: 100vw;
     height: 140vw;
     background-repeat: no-repeat;
     text-align: center;
}

.navbar {
     display: flex;
     justify-content: space-between;
     padding: 1.25rem 1.25rem;

}

.navbar ul {
     padding: 0; margin: 0;
     position: fixed;
     z-index: 100;
     top: 10%;
     right: 50%;
     transform: translateX(50%) translateY(10%);
     display: none;
     background-color: white;
     width: 90vw;
     flex-direction: column;
}

.navbar ul::after {
     content: "";
     width: 0;
     height: 0;
     border-style: solid;
     border-width: 0 0 33px 33px;
     position: absolute;
     top: -8%; right: 0;
     border-color: transparent transparent white transparent;
}

.contact {
     color: black;
     text-transform: uppercase;
     background-color: hsl(51, 100%, 49%);
     display: inline-block;
     border-radius: 3rem;
     margin: 1rem auto 2.5rem;
     width: 9rem;
}

.first-li {
     margin-top: 1rem;
}

#check {
     display: none;
}

#check:checked ~ nav ul {
     display: flex;

}

/* Header for Desktop */
@media(min-width: 871px) {
     header {
          background-image: url("../images/desktop/image-header.jpg");
          height: 55vw;
     }

     .arrow {
          position: absolute;
          left: 50%;
          top: 20rem;
          transform: translateX(-50%);
     }

     .logo {
          margin: 1.1rem 0.7rem;
     }
     /* Navigation Bar */

     .navbar ul {
          background-color: transparent;
          display: flex;
          flex-direction: row;
          top: 0;
          transform: translateX(0);
          justify-content: flex-end;
          right: 0;
          position: absolute;
     }
     .navbar ul li:not(.contact) {
          padding: 2.15rem 1.7rem;
          margin: 0;
          color: white;
          cursor: pointer;
          transition: 0.2s ease;
     }
     .navbar ul li:not(.contact):hover {
          color: black;
     }
     .navbar ul::after {
          display: none;
     }
     .contact {
          margin: 1.25rem;
          padding: 0.9rem 0;
          width: 9rem;
          cursor: pointer;
          background-color: hsl(0, 0%, 100%);
          transition: 0.2s ease;
     }
     .contact:hover {
          color: white;
          background-color: hsl(0, 0%, 100%, 0.25);
     }
     label {
          display: none;
     }
}
/* End of Header Styles */


/* About Section */
.aboutdiv {
     display: flex;
     width: 100%;
     flex-direction: column;
     text-align: center;
}
.aboutdiv div:not(.graphic, .photography) {
     flex-basis: 100%;
     flex-grow: 1;
     padding: 1rem;
}
.aboutdiv div p:not(.graphic p, .photography p) {
     color: hsl(232, 10%, 55%);
}

.graphic {
     background-image: url("../images/mobile/image-graphic-design.jpg");
}
.photography {
     background-image: url("../images/mobile/image-photography.jpg");
}

.graphic, .photography {
     background-size: 100vw;
     background-repeat: no-repeat;
     height: 150vw;
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
}
.graphic h3{
     color: hsl(167, 40%, 24%);
     font-size: 1.75rem;
     margin: 0;
}

.graphic p {
     padding: 5%;
     color: hsl(167, 40%, 24%);
}

.photography h3{
     color: hsl(198, 62%, 26%);
     font-size: 1.75rem;
     margin: 0;
}

.photography p {
     padding: 5%;
     color: hsl(198, 62%, 26%);
}

/* About Section for Desktop */
@media (min-width:871px) {
     .aboutdiv {
          flex-flow: row wrap;
          align-items: center;
     }
     .aboutdiv div:not(.graphic, .photography) {
          flex-basis: 0;
          padding: 0 11%;
          text-align: left;
     }
     @media (max-width: 1040px) and (min-width: 872px) {
          .aboutdiv div:not(.graphic, .photography) {
               padding: 0 3%;
          }
     }
     .aboutdiv img {
          width: 50%;
     }
     .transform {
          transform: translateX(-100%);

     }
     .first-img {
          transform: translateX(100%);
     }
     .transform h5:hover::before {
          background-color: hsl(51, 100%, 49%, 1);
     }

     .stand-out h5:hover::before {
          background-color: hsl(7, 99%, 70%, 1);
     }
     .graphic {
          background-image: url("../images/desktop/image-graphic-design.jpg");
     }
     .photography {
          background-image: url("../images/desktop/image-photography.jpg");
     }
     .graphic, .photography {
          width: 50%;
          background-size: 100%;
          height: 40vw;
          padding: 0 10%;
     }
     @media (max-width: 1370px) and (min-width: 1040px) {
          .graphic, .photography {
               height: 42vw;
          }
          .graphic {
               padding: 0 7%;
          }
     }
     @media (max-width: 1040px) and (min-width: 872px) {
          .graphic, .photography {
               padding: 0;
               height: 45vw;
          }
     }

}
/* End of About Section */

/* Testimonials Section */
.testimonials {
     display: flex;
     flex-direction: column;
     text-align: center;
}
.testimonials h2 {
     text-transform: uppercase;
     letter-spacing: 0.25rem;
     color: hsl(210, 4%, 67%);
     margin: 4rem 0 1.6rem;
}
.testimonials h3 {
     color: hsl(212, 27%, 19%);
     margin-bottom: 0.5rem;
     font-weight: 900;
}
.testimonials h6 {
     margin: 0 0 2rem;
     color: hsl(210, 4%, 67%);
}
.testimonials img {
     border-radius: 50%;
     width: 4.5rem;
}
.testimonials p {
     color: hsl(213, 9%, 39%);
}

.testimonials div {
     padding: 1rem;
}

/* Testimonials for Desktop Size */
@media (min-width:871px) {
     .testimonials .people {
          display: flex;
          flex-direction: row;
          padding: 5% 11% 7%;
     }
     .testimonials h2 {
          margin: 8rem 0 0;
     }
     .testimonials h3 {
          margin-top: 5rem;
     }
}
/* End of Testimonials Section */

/* Images Section */
.images {
     display: flex;
     flex-wrap: wrap;
}
.images img {
     width: 50%;
}
@media (min-width: 871px) {
     .images img {
          width: 25%;
     }
}
